body{
    margin: 0;
  }
  
  .main{
    background: url('office.jpg') no-repeat center center fixed;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
   
  
  }
.center-create-your-own{
    display: flex;
	justify-content: space-between;
	align-items: center;
    align-content: center;
    flex-direction: column;
    margin: 0;
  }
  .create-your-own-button-container{
    width:85%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;

    

  }

.click-all{
    margin-top: 1em;
    font-size: 2.5em;
    width: 700px;
}

  .genre-container{
    display:flex;
    flex-direction: row;
    background-color: #7777;
    flex-wrap: wrap;
    width: 850px;
    justify-content: space-around;
    align-items: center;
    border-radius: 10px;
    font-family: 'Quicksand', sans-serif;
    box-shadow: .5px 1px 10px 1px #00908E ;
    margin: 0 auto;

  }
  .genrelist{
      justify-content: center;
      margin: 20px;

  }
  .show-genres{
    border-radius: 1em;
    border: none;
    background-color: #111;
    color: white;
    font-size: 2em;
    height:3em;
    width: 10em;
    font-family: 'Quicksand', sans-serif;
    margin-top: 0em;
    margin-bottom: 1em;
    text-shadow: 1px 1px 1px rgb(196, 194, 194), 1px 1px 1px #111;
    cursor: pointer;
    opacity: .4;
}
.submit{
    border-radius: 1em;
    border: none;
    background-color: #111;
    color: white;
    font-size: 2em;
    height:3em;
    width: 10em;
    font-family: 'Quicksand', sans-serif;
    margin-bottom: 1em;
    text-shadow: 1px 1px 1px rgb(196, 194, 194), 1px 1px 1px #111;
    cursor: pointer;
    opacity: .4;
    margin-top: 0em;
}
.submit:hover{
    opacity: .8;
    background-color: black;
}
.show-genres:hover{
    opacity: .8;
    background-color: black;
}


  