
.get-started-button{
    border-radius: 10em;
    border: none;
    background: rgb(255, 255, 255);
    margin: 0 auto;
    font-size: 3em;
    height:3em;
    width: 10em;
    font-family: 'Quicksand', sans-serif;
    
}