
.new-list-container {
    width:30em;
    background-color:#00908E;
    padding: -5px;
    margin-top: 3em;
    border-radius: 25px;
}
.new-list-container > div{
    padding: 5px;
    margin-left: 2em;
    font-family: 'Quicksand', sans-serif;
}