.nav-container{
    background: #00908E;
    width: 100vw;
    height:20vh;
    display: inline-flex;
    
}
.logo{
    font-family: 'Quicksand', sans-serif;
    font-weight: 300;
    font-size: 3.5em;
    flex: 1;
    margin-left:.75em;
    margin-top: .3em;
    color: rgb(250, 218, 123);

}
.menu{
font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
margin-right: 2em;
margin-top: 2em;
color: #F9E093;

font-size: 1.5em;


}