body{
    background: url('office.jpg') no-repeat center center fixed;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
   
  
  }
  .list img{
      height:100px;
      width:150px;
      display: block;
      
  }
  a{
      text-decoration: none;
      color:#00908E;
      margin-left: 150px;
  }
  .list{
      width:30em;
      background-color: rgba(148, 147, 147, 0.467);
      padding: -5px;
      margin-top: 3em;
  }
  .list > div{
      padding: 3px;
      margin-left: 150px;
  }
  .list-container{
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 15em;
        justify-content: center;
        margin-left: 20px;
      }


  