.profile-container{
    background-color: rgba(148, 147, 147, 0.467);
    border-radius: 5em;
    /* margin: 0 auto; */
    display: flex;
    width: 60%;
    flex-direction: column;
    /* padding-top: 15em; */
    /* height: 500px; */
    
    
}

.profile{
    padding: .5em;
    margin: 0 auto;
    font-family: 'Quicksand', sans-serif;
    
}
.my-profile{
   
    font-family: 'Quicksand', sans-serif;
    color: rgb(250, 248, 245);
    justify-content: left;
    font-size: 4em;
    padding-top: 2em;
    
}
/* aside{
    position: absolute;
} */