.profile-container{
    background-color: rgba(148, 147, 147, 0.467);
    display: flex;
    width: 100%;
    flex-direction: column;
    
    
}

.profile{
    padding: .5em;
    /* margin: 0 auto; */
    font-family: 'Quicksand', sans-serif;
    margin-top: 6em;
    
}
/* .my-profile{
   
    font-family: 'Quicksand', sans-serif;
    color: rgb(250, 248, 245);
    justify-content: left;
    font-size: 4em;
    padding-top: 2em;
    padding-left: .5em;
    
} */
/* aside{
    position: absolute;
} */