.profile-festivals-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-top: 10em;
    
    
}

.profile-festivals{
    width:40em;
    background-color:#00908E;
    margin-top: 1em;
    border-radius: 25px;
    font-size: .80em;
    margin: 0 auto;
    box-shadow: .5px 1px 10px 1px rgb(107, 109, 109) ;
    opacity: .9;
    
}
.profile-festivals > div{
    padding: 5px;
    margin-left: 2em;
    font-family: 'Quicksand', sans-serif;
}
.save-button-container{
    width:20%;
    padding-left: 0;
    padding-top: 3em;
    margin-left: 0;
}
.save-to-account{
    border-radius: 1em;
    border: none;
    background-color: #111;
    color: white;
    font-size: 2em;
    height:3em;
    width: 5em;
    font-family: 'Quicksand', sans-serif;
    margin-bottom: 1em;
    text-shadow: 1px 1px 1px rgb(196, 194, 194), 1px 1px 1px #111;
    cursor: pointer;
    opacity: .4;
}
.save-to-account:hover{
    opacity: .8;
    background-color: black;
}
